#chatwindow
{
	height: 500px;
	width: 500px;
	border: 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
	overflow-y: scroll;
	margin: 5px;
}

#chatinput
{
	margin: 5px;
	height: 30px;
	width: 440px;
}

#sendButton
{
	display: inline-block;
	cursor: pointer;
	color: #333333;
	height: 30px;
	width: 60px;
	border: 1px solid
	padding: 5px;
	background: #f8f8f8;
	border-color: #d3d3d3;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	margin: 5px;
}

#playerPic
{
	float:right;

}

#userList
{
	position:absolute;
	left:530px;
	top:50px;

}

#testtext
{
	font-size: 30px;
	color:rgb(0,0,255);
	position:absolute;
	left:550px;
	top: 0px;


}
