#chatwindow
{
	height: 500px;
	width: 500px;
	border: 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
	overflow-y: scroll;
	margin: 5px;
}

#chatinput
{
	margin: 5px;
	height: 30px;
	width: 440px;
}

#sendButton
{
	display: inline-block;
	cursor: pointer;
	color: #333333;
	height: 30px;
	width: 60px;
	padding: 5px;
	background: #f8f8f8;
	border-color: #d3d3d3;
	border: solid 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	margin: 5px;
}